<div class="container">
    <a class="navbar-brand me-3 me-xl-4" href="index1.html">
        <img class="d-block" src="img/logo/logo-dark.svg" width="116" alt="Finder" /></a>
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="btn btn-sm text-primary d-none d-lg-block order-lg-3" href="#signin-modal" data-bs-toggle="modal">
        <i class="fi-user me-2"></i>Sign in</a><a class="btn btn-primary btn-sm rounded-pill ms-2 order-lg-3"
        href="#signup-modal" data-bs-toggle="modal">
        <i class="fi-plus me-2"></i>
        <span class="d-none d-sm-inline"> Đăng ký</span>
    </a>
    <div class="collapse navbar-collapse order-lg-2" id="navbarNav">
        <ul class="navbar-nav navbar-nav-scroll" style="max-height: 35rem;">
            <li class="nav-item ">
                <a class="nav-link " href="../index1.html">
                    Trang chủ
                </a>
            </li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">Sản phẩm</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="../catalog.html">Danh sách</a></li>
                    <li><a class="dropdown-item" href="../single.html">Chi tiết sản phẩm</a></li>
                    <li><a class="dropdown-item" href="../single-info.html">Chi tiết sản phẩm - Thông tin</a></li>
                    <li><a class="dropdown-item" href="../single-reviews.html">Chi tiết sản phẩm - Đánh giá</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">Tài khoản</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="../account-info.html">Thông tin cá nhân</a></li>
                    <li><a class="dropdown-item" href="signin-light.html">Đăng nhập</a></li>
                    <li><a class="dropdown-item" href="signup-light.html">Đăng ký</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">Khác</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="../about.html">Giới thiệu</a></li>
                    <li><a class="dropdown-item" href="../contacts.html">Liên hệ</a></li>
                </ul>
            </li>
            <li class="nav-item d-lg-none">
                <a class="nav-link" href="#signin-modal" data-bs-toggle="modal">
                    <i class="fi-user me-2"></i>Sign in</a>
            </li>
        </ul>
    </div>
</div>