@model string
<nav class="mb-4 pt-md-3" aria-label="Breadcrumb">
    <ol class="breadcrumb breadcrumb-light">
        <li class="breadcrumb-item">
            <a href="/User/Home">Trang chủ</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/User/Profile">Tài khoản</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@Model</li>
    </ol>
</nav>