<section class="container py-2 py-sm-3">
    <div class="row g-2 g-sm-4">
        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2">
            <a class="opacity-40 opacity-transition d-table mx-auto" href="javascript:void(0)">
                <img src="~/Assets/User/amazon-primary.svg" width="86" height="86" alt="Opel">
            </a>
        </div>
        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2">
            <a class="opacity-40 opacity-transition d-table mx-auto" href="javascript:void(0)">
                <img src="~/Assets/User/behance-icon.svg" width="86" height="86" alt="Audi">
            </a>
        </div>
        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2">
            <a class="opacity-40 opacity-transition d-table mx-auto" href="javascript:void(0)">
                <img src="~/Assets/User/google-icon.svg" width="86" height="86" alt="Mercedes-Benz">
            </a>
        </div>
        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2">
            <a class="opacity-40 opacity-transition d-table mx-auto" href="javascript:void(0)">
                <img src="/Assets/User/paypal-icon.svg" width="86" height="86" alt="Toyota">
            </a>
        </div>
        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2">
            <a class="opacity-40 opacity-transition d-table mx-auto" href="javascript:void(0)">
                <img src="~/Assets/User/puma-dark.svg" width="86" height="86" alt="Mazda">
            </a>
        </div>
        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2">
            <a class="opacity-40 opacity-transition d-table mx-auto" href="javascript:void(0)">
                <img src="~/Assets/User/shopify-icon.svg" width="86" height="86" alt="Nissan">
            </a>
        </div>
        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2">
            <a class="opacity-40 opacity-transition d-table mx-auto" href="javascript:void(0)">
                <img src="~/Assets/User/twitter-icon.svg" width="86" height="86" alt="Hyundai">
            </a>
        </div>
        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2">
            <a class="opacity-40 opacity-transition d-table mx-auto" href="javascript:void(0)">
                <img src="~/Assets/User/visa.svg" width="86" height="86" alt="Lexus">
            </a>
        </div>
        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2">
            <a class="opacity-40 opacity-transition d-table mx-auto" href="javascript:void(0)">
                <img src="~/Assets/User/sentry-icon.svg" width="86" height="86" alt="Honda">
            </a>
        </div>
        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2">
            <a class="opacity-40 opacity-transition d-table mx-auto" href="javascript:void(0)">
                <img src="~/Assets/User/mastercard.svg" width="86" height="86" alt="Renault">
            </a>
        </div>
        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2">
            <a class="opacity-40 opacity-transition d-table mx-auto" href="javascript:void(0)">
                <img src="~/Assets/User/mapbox-icon.svg" width="86" height="86" alt="Infiniti">
            </a>
        </div>
        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2">
            <a class="opacity-40 opacity-transition d-table mx-auto" href="javascript:void(0)">
                <img src="~/Assets/User/hubspot.svg" width="86" height="86" alt="Mitsubishi">
            </a>
        </div>
    </div>
</section>