@using ChoTotAsp.Utils
@{
    var isLogin = AuthenticationUtil.GetUserId(Context.Request, Session) != -1;
    var currentPath = Context.Request.Path?.ToLower();
}
<header class="navbar navbar-expand-lg navbar-dark fixed-top" data-scroll-header>
    <div class="container">
        <a class="navbar-brand me-3 me-xl-4" href="/">
            <img class="d-block" src="~/Assets/User/logo-light.svg" width="116" alt="Finder">
        </a>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @if (!isLogin)
        {
            <a class="btn btn-link btn-light btn-sm d-none d-lg-block order-lg-3" id="open-signin" href="#signin-modal"
               data-bs-toggle="modal">
                <i class="fi-user me-2"></i>Đăng nhập
            </a>
        }
        else
        {
            <a class="btn btn-link btn-light btn-sm d-none d-lg-block order-lg-3" href="/User/Logout">
                <i class="fi-user me-2"></i>Đăng xuất
            </a>
        }

        <a
            class="btn btn-primary btn-sm ms-2 order-lg-3 d-none" href="/User/Post">
            <i class="fi-plus me-2"></i>Đăng tin
        </a>
        <div class="collapse navbar-collapse order-lg-2" id="navbarNav">
            <ul class="navbar-nav navbar-nav-scroll" style="max-height: 35rem;">
                <!-- Menu items-->
                <li class="nav-item @(currentPath.Contains("/user/home") ? "active" : "")">
                    <a class="nav-link" href="/User/Home">Trang chủ</a>
                </li>
                <li class="nav-item d-none @(currentPath.Contains("/user/news") ? "active" : "")">
                    <a class="nav-link" href="/User/News">Tin đăng</a>
                </li>
                @if (isLogin)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Tài khoản
                        </a>

                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                                <a class="dropdown-item" href="/User/Profile">Thông tin cá nhân</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/User/Profile/WishList">Yêu thích</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/User/Profile/Post">Bài đăng của tôi</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/User/Logout">Đăng xuất</a>
                            </li>
                        </ul>
                    </li>
                }
                <li class="nav-item d-lg-none">
                    <a class="nav-link" href="#signin-modal" data-bs-toggle="modal"><i class="fi-user me-2"></i>Đăng nhập</a>
                </li>
            </ul>
        </div>
    </div>
</header>