<section class="bg-position-top-center bg-repeat-0 pt-5"
         style="background-image: url(/Assets/User/hero-bg.png); background-size: 1920px 630px;">
    <div class="container pt-5">
        <div class="row pt-lg-4 pt-xl-5">
            <div class="col-lg-4 col-md-5 pt-3 pt-md-4 pt-lg-5">
                <h1 class="display-4 text-light pb-2 mb-4 me-md-n5">GShop - Chợ Mua Bán Trực Tuyến Hàng Đầu</h1>
                <p class="fs-lg text-light opacity-70">
                    Nhiều sản phẩm  hot đang chờ đợi ...
                </p>
            </div>
            <div class="col-lg-8 col-md-7 pt-md-5">
                <img class="d-block mt-4 ms-auto" src="~/Assets/fashion/hero3.png" width="800" alt="Car">
            </div>
        </div>
    </div>
    <div class="container mt-4 mt-sm-3 mt-lg-n3 pb-5 mb-md-4">
        <!-- Form group-->
        <form class="form-group form-group-light d-block" action="/User/News" method="get">
            <div class="row g-0 ms-lg-n2">
                <div class="col-lg-8">
                    <div class="input-group border-end-lg border-light">
                        <span class="input-group-text text-muted ps-2 ps-sm-3">
                            <i class="fi-search"></i>
                        </span>
                        <input class="form-control" type="text" name="Keyword" placeholder="Tìm kiếm...">
                    </div>
                </div>
                <hr class="hr-light d-lg-none my-2">
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="dropdown" data-bs-toggle="select">
                        <button class="btn btn-link dropdown-toggle ps-2 ps-sm-3" type="button" data-bs-toggle="dropdown">
                            <i class="fi-map-pin me-2"></i><span class="dropdown-toggle-label">Địa chỉ</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                                <a class="dropdown-item">
                                    <span class="dropdown-item-label">Toàn quốc</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr class="hr-light d-lg-none my-2">
                <div class="col-lg-2">
                    <button class="btn btn-primary w-100" type="submit">Tìm kiếm</button>
                </div>
            </div>
        </form>
    </div>
</section>