<div class="modal fade" id="signup-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered p-2 my-0 mx-auto" style="max-width: 950px;">
        <div class="modal-content bg-dark border-light">
            <div class="modal-body px-0 py-2 py-sm-0">
                <button class="btn-close btn-close-white position-absolute top-0 end-0 mt-3 me-3" type="button" data-bs-dismiss="modal"></button>
                <div class="row mx-0 align-items-center">
                    <div class="col-md-6 border-end-md border-light p-4 p-sm-5">
                        <h2 class="h3 text-light mb-4 mb-sm-5">Đăng ký ngay.<br>Nhận nhiều ưu đãi:</h2>
                        <ul class="list-unstyled mb-4 mb-sm-5">
                            <li class="d-flex mb-2">
                                <i class="fi-check-circle text-primary mt-1 me-2"></i><span class="text-light"> Nhiều sản phẩm giá rẻ</span>
                            </li>
                            <li class="d-flex mb-2">
                                <i class="fi-check-circle text-primary mt-1 me-2"></i><span class="text-light">Dễ dàng quản lý danh sách yêu thích</span>
                            </li>
                            <li class="d-flex mb-0">
                                <i class="fi-check-circle text-primary mt-1 me-2"></i><span class="text-light">Sản phẩm chất lượng</span>
                            </li>
                        </ul><img class="d-block mx-auto" src="~/Assets/User/signup-dark.svg" width="344" alt="Illustartion">
                        <div class="text-light mt-sm-4 pt-md-3">
                            <span class="opacity-60">Đã có tài khoản? </span><a class="text-light" href="#signin-modal" data-bs-toggle="modal" data-bs-dismiss="modal" id="formSignupOpenSignIn">Đăng nhập</a>
                        </div>
                    </div>
                    <div class="col-md-6 px-4 pt-2 pb-4 px-sm-5 pb-sm-5 pt-md-5">
                        <a class="btn btn-outline-info w-100 mb-3" href="javascript:void(0)" onclick="openGoogleLoginPopup()">
                            <i class="fi-google fs-lg me-1"></i>Đăng nhập với Google
                        </a>
                        <a class="btn btn-outline-info w-100 mb-3" href="javascript:void(0)" onclick="showAlert('Chức năng chưa phát triển', 'warning')">
                            <i class="fi-facebook fs-lg me-1"></i>Đăng nhập với Facebook
                        </a>
                        <div class="d-flex align-items-center py-3 mb-3">
                            <hr class="hr-light w-100">
                            <div class="text-light opacity-70 px-3">Hoặc</div>
                            <hr class="hr-light w-100">
                        </div>
                        <form class="needs-validation" novalidate action="/User/SignUp" method="post" id="signup-form">
                            <div class="mb-4">
                                <label class="form-label text-light" for="signup-name">Họ và tên</label>
                                <input class="form-control form-control-light" type="text" id="signup-name" name="fullname" placeholder="Enter your full name" required>
                            </div>
                            <div class="mb-4">
                                <label class="form-label text-light" for="signup-email">Email</label>
                                <input class="form-control form-control-light" type="email" id="signup-email" name="email" placeholder="Enter your email" required>
                            </div>
                            <div class="mb-4">
                                <label class="form-label text-light" for="signup-password">Mật khẩu <span class='fs-sm opacity-50'>Tối thiểu. 8 ký tự</span></label>
                                <div class="password-toggle">
                                    <input class="form-control form-control-light" type="password" id="signup-password" minlength="8" name="password" required>
                                    <label class="password-toggle-btn" aria-label="Show/hide password">
                                        <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label class="form-label text-light" for="signup-password-confirm">Xác nhận mật khẩu</label>
                                <div class="password-toggle">
                                    <input class="form-control form-control-light" type="password" name="confirmPassword" id="signup-password-confirm" minlength="8" required >
                                    <label class="password-toggle-btn" aria-label="Show/hide password">
                                        <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-check form-check-light mb-4">
                                <input class="form-check-input" type="checkbox" id="agree-to-terms" required>
                                <label class="form-check-label" for="agree-to-terms">
                                    <span class='opacity-70'>Chấp nhận </span> <a href='javascript:void(0)' class="text-light">Điều khoản</a> <span class='opacity-70'>và</span> <a href="javascript:void(0)" class='text-light'>Chính sách bảo mật</a>
                                </label>
                            </div>
                            <button class="btn btn-primary btn-lg w-100" type="submit">Đăng ký </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>