<span class="d-table badge bg-success"
      data-bs-toggle="popover"
      data-bs-placement="bottom"
      data-bs-trigger="hover"
      data-bs-html="true"
      data-bs-content="&lt;div class=&quot;d-flex&quot;&gt;&lt;i class=&quot;fi-award mt-1 me-2&quot;&gt;&lt;/i&gt;&lt;div&gt;Sản phẩm đã kiểm duyệt và&lt;br&gt;xác minh bởi Gshop.&lt;/div&gt;&lt;/div&gt;">
    Sản phẩm chính hãng
</span>