<footer class="dashboard-footer" data-v-50d65b6a="">
    <div class="copyright">
        <div class="row">
            <div class="col-md-6">
                <span>
                    <a href="#" class="">
                        <i class="fas fa-info-circle mr-2 prt-1" style="color:#9fa8b0;"></i>
                    </a> Footer title
                </span>
            </div>
            <div class="col-md-6 text-right">
                <a href="#" class="text-muted">
                    Điều khoản sử dụng
                </a>
                <span class="text-muted mr-10 ml-10">|</span>
                Copyright © 2024 <a href="#">Sinh Vien</a>
            </div>
        </div>
    </div>
</footer>